@charset "utf-8";
/* CSS Document */
*{margin: 0; padding: 0;}

body {
	background-color: #001533;	
	padding-top: 30px;
	width: 1440px;
	max-width: 1440px;
	min-width: 1440px;
}

#controls {
	position: fixed; 
	left:50%; bottom:20px; 
	transform:translateX(-50%);
  	display:flex;
	flex-direction:column;
	align-items:center;
	gap:8px;
  	padding:12px 16px;
	background:rgba(0,0,0,.6);
	border-radius:12px;
 	z-index: 9999;
}

#song-title {
  color:#fff; 
	font-size:14px; 
	font-weight:600; 
	text-align:center;
    max-width: 560px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}

#controls button {
  font-size: 20px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.controls-row{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

#controls button:hover {
  transform: scale(1.2);    
}

#play-pause-btn.pause::after {
  font-size: 21.6px;
  content: "❚❚";
}
#play-pause-btn:not(.pause)::after {
  content: "▶";
}

#timeline {
  flex: 1;
  width: 560px;
  height: 5px;
  background-color: #ccc;
  position: relative;
  margin: 0 10px;
  border-radius: 999px;
  overflow: hidden;
}
#playhead {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: 0;
  cursor: pointer;
}
#time {
  font-size: 12px;
  color: #fff;
  white-space: nowrap;
}

.title {
	margin-top: -30px;
	position: fixed;
	width: 1525px;
	height: 81px;	
	padding: 0 0 0 0;
	background-color: #001d48;
	border: 0px solid #001d48;
	z-index: 19;
	display: flex;
}

.tb_1, .tb_2, .tb_3, .tb_4 {
	background-color: #001d48;
	color: white;
	border: 0px solid #001d48;
	width:333px;
	height: 81px;
	font-size: 32px;
	font-family:"Times New Roman";
	font-style: bold;
	text-transform: uppercase;
	cursor:pointer; 
}

.logo {
	position: relative;
	width: 108px; height: 108px;
	margin: -0.95% auto;
	display: block;
}

.box_a, .box_b {
	display: flex;
	flex-wrap: wrap;
}

.tb_1:hover a, .tb_2:hover a, .tb_3:hover a, .tb_4:hover a{
	background-color: #001d48;
	color: #c5a577;
	border: 2px solid #001d48;
}

.tb_1 a, .tb_2 a, .tb_3 a, .tb_4 a{
  color:#fff;
  text-decoration:none;
  display:block;              
}



.wte_1 {
	border: 3px solid #c5a577;
	width: 860px;
	height: 500px;
	object-fit: cover;
}

.upcoming, .whats_new {
	position: relative;
	left: 40px;
	top: 90px;
	font-size: 36px;
	color: white;
	padding-bottom: 20px;
}

.up_text {
	padding-bottom: 20px;
}

.upcoming_1 {
	position: normal;
	left: 40px;
	top: 90px;
	column-count: 2;
	column-gap: 400px;
	padding-bottom: 57px;
}

p {
	padding-left: 15px;
	padding-top: 15px;
	font-family: "Segoe UI";
	font-size:24px;
	font-style: normal;
	letter-spacing: 5px;
	color: #c5a577;
}	

.up_box1 {
	position: relative;
	float: left;
	background-color: #03193b;
	background:url("../img/wave_to_earth_logo.png");
	background-repeat: no-repeat;
	background-size: 80%; 
	background-position: 50% 5%;
	width: 500px;
	height: 500px;
	border: 3px solid #c5a577;
}

.up_box2 {
	position: relative;
	float: left;
	background-color: #03193b;
	background:url("../img/hr_logo.png");
	background-repeat: no-repeat;
	background-size: 80%; 
	background-position: 50% 37%;
	width: 500px;
	height: 500px;
	border: 3px solid #c5a577;
}

.up_box3 {
	position: relative;
	float: left;
	background-color: #03193b;
	background:url("../img/nc_logo.png");
	background-repeat: no-repeat;
	background-size: 98%; 
	background-position: 50% -160%;
	width: 500px;
	height: 500px;
	border: 3px solid #c5a577;
}

.up_box4 {
	position: relative;
	float: left;
	background-color: #03193b;
	background:url("../img/jnb_logo.png");
	background-repeat: no-repeat;
	background-size: 105%; 
	background-position: 50% 150%;
	width: 500px;
	height: 500px;
	border: 3px solid #c5a577;
}

.up_box5 {
	position: relative;
	float: left;
	background-color: #03193b;
	background:url("../img/ydbb_logo.png");
	background-repeat: no-repeat;
	background-size: 40%; 
	background-position: 50% 37%;
	width: 500px;
	height: 500px;
	border: 3px solid #c5a577;
}

.img_box1 {
	width: 80%;
	height: 80%;
}

.tickets{
	position: relative;
	background-color: #000000;
	color:#c5a577;
	width:500px;
	margin-top: 51vh;
	height:100px;
	border-top: 3px solid #c5a577;
	font-family: "Times New Roman";
	font-size: 36px;
	font-style: italic;
	font-weight: bold;
	cursor:pointer; 
}

.tickets:hover{
	background-color: #131b54;
	color:#f2ca91;
}

.whats_new{
	position: relative;
	left: 40px;
	top: 90px;
	padding-top: -57px;
}

.wn_whole1{
	column-count: 2;
	column-gap: 38px;
	padding-bottom: 57px;
}

.wn_box1{
	position: relative;
	background-color: #03193b;
	background:url("../img/hanroro.jpg");
	background-repeat: no-repeat;
	background-size: 105%;
	width: 680px;
	height: 470px;
	border: 3px solid #c5a577;

}

.wn_1{
	width: 160px;
	height: 80px;
	object-fit: cover;
}

.wn_box2{
	position: relative;
	background-color: #03193b;
	background:url("../img/nerd_connection.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 125%;
	width: 680px;
	height: 470px;
	border: 3px solid #c5a577;
}

.wn_2{
	width: 240px;
	height: 60px;
	object-fit: cover;
}

.wn_whole2{
	column-count: 2;
	column-gap: 38px;
}

.wn_box3{
	position: relative;
	background-color: #03193b;
	background:url("../img/jannabi.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 124%;
	width: 680px;
	height: 470px;
	border: 3px solid #c5a577;
	break-inside: avoid;
}

.wn_3{
	width: 176px;
	height: 64px;
	object-fit: cover;
}

.wn_box4{
	position: relative;
	background-color: #03193b;
	background:url("../img/ydb.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 124%;
	width: 680px;
	height: 470px;
	border: 3px solid #c5a577;
	break-inside: avoid;
}

.wn_4{
	width: 160px;
	height: 60px;
	object-fit: cover;
}

.tab{
	position: normal;
	width: 1080px;
	margin: 90px auto 30px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #001533;
}

.tab button{
	display: block;
	width: 25%;
	box-sizing: border-box;
    background-color: inherit;
	border: none;
    outline: none;
  	cursor: pointer;
	font-size: 28px;
	font-family:"Times New Roman";
	font-style: italic;
	font-weight: bold;
	color: #c5a577;
	text-transform: uppercase;
}

.dis {
	font-size: 20px;
	font-weight: normal;
	color: #c5a577;
}

.tabcontent {
	display: none;
	width: 1120px;
	background-color: #001d48;
	margin: 0 auto;
	border: 1.5px solid #c5a577;
	color: white;
	text-align: left;
	font-family:"Times New Roman";
	font-style: italic;
	font-size: 28px;
	font-weight: lighter;
}

.header{
	display:block;
	text-align: center;
	font-family:"Times New Roman";
	color: #c5a577;
	font-style: normal;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 40px;
}

.m_title, .m_ingredients{
	display: block;
	margin-left: 20px;
	margin-bottom: 10px;
}

.m_price{
	display: block;
	margin-left: 20px;
	margin-bottom: 60px;
}

